//動畫前綴
$experimental-support-for-webkit : true;
$experimental-support-for-mozilla: true;
$experimental-support-for-opera: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-khtml: false;

//預設背景圖
// $default_Background:'../_img/background.webp'+$random;

//字體
$font-Style:"Microsoft JhengHei";

$tree_01: "./img/tree01.png";
$tree_02: "./img/tree02.png";
$sun_bg: "./img/sunbg.jpg";
$night_bg: "./img/nightbg.jpg";
$decoration: "./img/ss.png";
$home_bg: "./img/main_bg.png";
$home_bg_m: "./img/main_bg_m.png";

$z-index: (
  loading       :7,
  header        : 6,
  footer         : 6,
  btn_sky_light : 6,
  tree          : 5,
  moon          : 4,
  wave          : 3,
  house         : 3 ,
  sun           : 3,
  cloud        : 1,
  line         : 1,
  btn_here_light :1,
  sun_sky_bg   : 1,
  star         : 0,
  night_sky_bg   : 0,
);

$breakpoints:(
    xxs: 320px,//ios se5
    xs : 575.98px,
    sm : 767.98px,
    md : 991.98px,
    lg : 1199.98px
);
