@import "./vendor/normalize";
@import "./vendor/_animate";
@import "./_variable";
@import "./_mixin";
@import "./layout/_sky-area-group";
@import "./layout/_sea-area-group";
@import "./layout/_middle-drag-box";
@import "./layout/_animation-layer";


*{
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    // background:url($default_Background_color);
    font-family:'微軟正黑體';
    background:#222222;
}